body {
font-family: "HelveticaNeueLTW01-45Light", Helvetica,sans-serif;
}

.bg-button-tilt-700 {
    background-color: #34a0a2 !important;    
    color: #fff;   
    border-radius: 0 !important; 
}

.bg-button-tilt-700:hover {
    background-color: transparent !important;    
    color: #34a0a2 !important;
    border-color: #34a0a2 !important;
}

.bg-button-white-700 {
    background-color: #fff !important;    
    color: #34a0a2 !important;
    border-color: #34a0a2 !important;
    border-radius: 0 !important;
}

input[type='text'], input[type='password'], input[type='email']{
    border-radius: 0 !important; 
    border-color: #000 !important;
}